*{
    font-family: 'DM Sans', sans-serif;
    font-size: x-large;
}

:root {
  --primary-color: rgb(192	251	230);
  --secondary-color: rgb(255	255	255); 
  --accent-color: #000000;
}


html, body {
    height: 100%;
    width: 100%;
    color: var(--accent-color);
}



.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    background-color: white;
    flex-wrap: wrap;
    align-content: center;
}

.mobile-nav {
  display: none;
}
.nav-bar{
  margin: 1% 0%;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation{
    margin: 10px;
}

.header > h2 {
  margin-top: 2%
}

.HOME-link{
  text-decoration: underline;
}

a{
    text-decoration: none;
    color: var(--accent-color);
    
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

    /* sub header */
    .sub-header{
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: var(--primary-color);
      padding: 35px;
    }
  

  @media (max-width: 850px) {
    .titleWebsite, .nav-bar,
    .socials-contact-me {
      display: none;
    }

  .first-last-name{
    display: flex;
    flex-direction: column;
  }
  
.name-column{
  padding-top: 8px;
    padding-bottom: 60px;
}

    .mobile-nav {
      display: flex;
      align-items: center;
    }
    
    .mobile-nav h2 {
      margin-left: 10px;
    }
    
    .mobile-nav .fa-bars {
      font-size: 20px;
      cursor: pointer;
    }
    /*may not need col nav*/
    .column-nav {
      display: none;
      flex-direction: column;
    }
    
    .mobile-nav.active .column-nav {
      display: flex;
    }


/* Use the below to edit rest of body's responsiveness.*/

    .bio, .how-I-can-help-you, .statement, .collaboration, .contact-section{
      display: flex;
      flex-direction: column;
    }

    .headshot-image-container img{
      display: flex !important;
      height: 100% !important;
      margin: 0px !important;
      padding-top: 10% !important;
      padding: 10% 10%;
      align-content: center;
      flex-wrap: wrap;
    }

    .bio-text-container-contact{
      margin: 0px !important;
      padding-bottom: 10%;
      padding-left: 10%;
      padding-top: 5%;
      padding-right: 10%;
    }

    .bio-button, .collaboration-button, #contact-button, .submit-button{
      display: flex !important;
      flex-direction: row !important;
      justify-content: center !important;
      padding-top: 6%;
    }
  
    .help-row{
      display: flex;
      flex-direction: column;
      margin: 5% !important;
      align-items: center;
    }

    .help-row > div {
      padding:30px;
      margin: 0px;
      width: 100% !important;
      
    }

    .help-heading{
      display: flex;
      justify-content: center;
   }

    .collaboration-container{
      flex-direction: column;
      padding: 5%;
    }

    .contact-section-heading{
      margin-left: 5%;
      padding-right: 5%;
    }

    .contact-section-heading-social{
      display: flex;
      flex-direction: row;
    }

    .affiliations1{
      display: flex;
      flex-direction: column !important;
    }

    .affiliations-container-2{
      display: flex;
      justify-content: center;
    }

    .affiliations-container-1, .affiliations-container-2 {
      max-width: 100%;
  }


  /*Form Responsiveness ------------------------------------------------------------------------------------------*/

  .form-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-element {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }

}
  
  @media (min-width: 768px) {
    .form-element {
      flex: 0 0 50%;
    }
  }
  
  .name-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .name-column {
    flex: 0 0 100%;
  }
  
  @media (min-width: 768px) {
    .name-column {
      flex: 0 0 50%;
    }
  }
  /*------------------------------------------------------------------------------------------*/
  
  .column-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .navigation {
    margin: 0 10px;
  }
  
  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
  }
  
  .button {
    background-color: #333;
    color: var(--accent-color);
    padding: 10px 20px;
    text-decoration: none;
  }

  .contact-me-button-container{
    padding-left: 34%;
  }

  
/* Add a hover effect if you want */
.fa:hover, .fa-medium:hover  {
    opacity: 0.5 !important;
  }

/* Twitter */
.fa-twitter {
    background: var(--primary-color);
    color: var(--accent-color);
  }

  .fa-linkedin{
    background: var(--primary-color);
    color: var(--accent-color);
  }

  .fa-medium{
    background: var(--primary-color);
    color: var(--accent-color);
  }

  .socials-contact-me{
    display: flex;
    flex-direction: row;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 27px;
    margin-top: 16px;
    width: max-content;
  }
  
  .button:hover {
    background-color: black;
    color: white;
  }
  

.slogan{
    height: 393px;
    width: 100%;
    border: var(--secondary-color) solid 1px;
    background-image: url(assets/z-main-image.jpeg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.slogan > h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 5px var(--primary-color);
  }

.bio{
    height: fit-content;
    width: 100%;
    background-color:  var(--primary-color);
    border: var(--secondary-color) solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--accent-color);
}

.bio-text-container-contact{
    display: flex;
    flex-direction: column;
    margin: 203px;
}

.bio-button{
    margin: 0px;
}

.headshot-image-container {
    max-width: 400px; /* Set the desired maximum width */
    text-align: center;
  }
  
  .headshot-image-container img {
    display: block;
    max-width: 85%;
    height: auto;
    margin: 131px;
    border-radius: 600px;
  }

.how-I-can-help-you{
    height: fit-content;
    width: 100%;
    background-color:var(--primary-color);
    border: var(--secondary-color) solid 1px;
}  

.help-heading{
    color: var(--accent-color);
    margin-left: 79px;
    margin-top: 30px;
}

.help-row{
    display: flex;
    justify-content: space-around;
    margin-top: 111px;
    margin: 86px;
    
}

.help-row >div{
  width: 33.33%;
  padding: 30px;
}

.statement{
    height: fit-content;
    width: 100%;
    background-color: var(--primary-color);
    border: var(--secondary-color) solid 1px;
}

.statement-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    margin-top: 5%;
}

.statement-container > h4{
    font-size: larger;
    font-weight: normal;
}

.statement-container > h3{
    font-size: x-large;
}

.conveyor-belt {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 63px;
  }
  
  .logo-container {
    transition: transform 0.5s ease-in-out;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .logo-container img {
    width: 305px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px; /* Adjust the spacing between logos */
  }

  .logo{
    padding: 100px;
    width: 100px; /* Set the desired width */
    height: auto; /* Set the desired height */
    object-fit: contain;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--secondary-color);
    border-radius: 47px;
    border: none;
  }

  .submit-button{
    position: inherit;
    transform: translateY(0%);
    width: fit-content;
    height: fit-content;
  }
  

  #prevBtn {
    left: 10px;
  }
  
  #nextBtn {
    right: 10px;
  }


.collaboration{
    height: fit-content;
    width: 100%;
    background-color: var(--primary-color);
    border: var(--secondary-color) solid 1px;
}

.collaboration-container{
  display: flex;
  flex-direction: row;
}

.collaboration-heading{
  padding-left: 38px;
}

.collaboration-container-p-button{
  display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.affiliations1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px;
  font-size: x-large;
}

.affiliations-container-1, .affiliations-container-2{
  max-width: 50%;
}

.worked-para{
  padding-top: 40px;
}

.affiliations-image{
  width: 75%;
  height: auto;
}

.contact-section{
    height: fit-content;
    width: 100%;
    background-color: var(--primary-color);
    border: var(--secondary-color) solid 1px;
    display: flex;
}

.contact-section-heading-social{
  display: flex;
  flex-direction: row-reverse !important;
  justify-content: flex-end;
  align-items: stretch;
  align-content: start;
  flex-wrap: wrap;

}

.contact-section-heading{
    padding-left: 25%;
}

.form-row{
  display: flex;
}

.form-container{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 8%;
}

.form-container form{
    display: flex;
    flex-direction: column;
}

form input, textarea, .submit-button {
margin:49px;
}

.form-element{
  margin-bottom: 20px;
  position: relative;
  padding-top: 25px;
}

.name-row {
  display: flex;
}

.name-column {
  flex: 1;
  margin-right: 250px;
  position: relative;
}

label {
  position: absolute;
  top: -25px;
  left: 0;
  color: var(--accent-color);
  transition: all 0.2s ease;
  pointer-events: none;
  padding: 3% !important;
}

#firstName, #lastName {
  width: fit-content;
}

input,
textarea {
  width: 70%;
  padding: 10px;
}

#message{
  min-height: 100px;
}

input:focus + label,
textarea:focus + label,
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
  top: -40px;
  font-size: 12px;
  color: #333;
}

.footer{
    height: fit-content;
    width: 100%;
    background-color: var(--primary-color);
    border: var(--secondary-color) solid 1px;
    padding-left: 10px;
}

